In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
df = pd.read_csv('../data/BTCUSDT_1MIN_22_08_2019.csv')

In [5]:
df.head()

,open_time,open,high,low,close,volume,close_time,quote_asset_volume,number_of_trades,taker_buy_base_asset_volume,taker_buy_quote_asset_volume,ignore
0,2018-08-22 18:49:00,6442.68,6443.53,6437.47,6439.01,10.543102,1534963799999,67905.329570,127,5.381330,34662.313627,0
1,2018-08-22 18:50:00,6439.50,6440.00,6430.00,6438.95,31.740422,1534963859999,204202.835533,135,6.107316,39304.914095,0
2,2018-08-22 18:51:00,6438.93,6438.94,6430.78,6434.78,18.647750,1534963919999,119943.428541,93,11.122065,71537.758087,0
3,2018-08-22 18:52:00,6434.78,6434.78,6425.00,6430.00,41.654808,1534963979999,267776.370487,184,15.842377,101871.051251,0
4,2018-08-22 18:53:00,6429.28,6430.00,6425.00,6429.99,47.737860,1534964039999,306824.781339,187,29.734171,191108.191827,0

In [1]:
plt.figure(figsize=(17, 8))
plt.plot(df.Close)
plt.plot(df.Volume)
plt.xlabel('Time')
plt.title('Closing price of the Bitcoin')
plt.ylabel('Closing price (USD)')
plt.grid(False)
plt.show()
aya="ala"

NameError: name 'plt' is not defined